<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, obcaecati nesciunt officiis corporis autem dolor maiores deserunt et maxime esse qui voluptatem architecto hic dolore vitae tempore! Vitae, ex. Tempore.
</p>